<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>imgMobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>imgWechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>imgQQButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>imgSinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>imgCollect</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>imgHistory</key>
		<string>history_profile_24x24_</string>
		<key>imgNight</key>
		<string>nighticon_profile_24x24_</string>
		<key>imgCellRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>imgPublishBtn</key>
		<string>feed_publish_44x44_</string>
		<key>imgPublishBtnSelected</key>
		<string>feed_publish_press_44x44_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
		<key>moreLoginTextColor</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#000000</string>
		<key>cellBackgroundColor</key>
		<string>#ffffff</string>
		<key>cellRightTextColor</key>
		<string>#aaaaaa</string>
		<key>separatorColor</key>
		<string>#f0f0f0</string>
		<key>tabbarTintColor</key>
		<string>#f55a5d</string>
		<key>navigationBarTintColor</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
